/* background setup */
.background {
  background-repeat: no-repeat;
  /* custom background-position */
  background-position: 50% 50%;
  /* ie8- graceful degradation */
  background-position: 50% 50% \9  !important; }

/* fullscreen setup */
/* give this to all tags from html to .fullscreen */
html, body {
  height: 100%; }

.fullscreen, .content-a {
  width: 100%;
  min-height: 100%; }

.not-fullscreen, .not-fullscreen .content-a, .fullscreen.not-overflow, .fullscreen.not-overflow .content-a {
  height: 100%;
  overflow: hidden; }

/* content centering styles */
.content-a {
  display: table; }

.content-b {
  display: table-cell;
  position: relative;
  vertical-align: middle; }

/* visual styles */
body {
  margin: 0;
  font-family: sans-serif;
  color: grey; }

section {
  background: #9ed100; }

.not-fullscreen {
  height: 50%; }

.navbar {
  transition: all 1s;
  -webkit-transition: all 1s; }

.navbar-brand {
  padding: 21px 15px 0 0; }

.brand {
  color: white; }

.logo {
  float: left;
  width: 60px;
  padding-left: 10px; }

.navbar-nav > li > a {
  font-size: 14px;
  color: white;
  text-align: center; }

.navbar-toggle .icon-bar {
  background-color: white; }

.collapse li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px; }

.grey_bg {
  background-color: rgba(54, 54, 54, 0.6); }

.front .content-a .content-b p {
  text-align: center;
  font-size: 1.5em;
  color: white; }

.line1 {
  height: 30%; }

.welcome_row1 {
  margin-bottom: 50px; }

#welcome_headline {
  color: black;
  font-style: italic;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px; }

.welcome_row2 {
  margin-bottom: 50px; }

.left_column {
  background-color: grey;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 0 auto; }

.middle_column {
  background-color: grey;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 0 auto; }

.right_column {
  background-color: grey;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 0 auto; }

.center-icons img {
  height: 7em; }

.col-md-4 span {
  display: block;
  font-size: 1.4em;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px; }

.welcome_row3 {
  margin-bottom: 50px; }

.welcome_row4 {
  margin-bottom: 50px; }

.fishing_row1 {
  margin-top: 50px;
  margin-bottom: 50px; }

.fishing_row3, .fishing_row5, .fishing_row7 {
  margin-bottom: 80px; }
  .fishing_row3 .col-md-3 img, .fishing_row5 .col-md-3 img, .fishing_row7 .col-md-3 img {
    float: right;
    margin-right: 0;
    height: 200px;
    width: 200px; }

.fish_name {
  text-align: center;
  font-size: 30px; }

#title_hunting {
  color: grey-brown;
  text-align: center;
  font-size: 50px; }

.hunting_row1 {
  margin-top: 50px; }

.hunting_row1, .hunting_row2 {
  margin-bottom: 50px; }

.hunting_row4, .hunting_row6, .hunting_row8 {
  margin-bottom: 80px; }
  .hunting_row4 .col-md-3 img, .hunting_row6 .col-md-3 img, .hunting_row8 .col-md-3 img {
    float: right;
    margin-right: 0;
    height: 200px;
    width: 200px; }

.wild_name {
  text-align: center;
  font-size: 30px; }

.house_row1 {
  margin-top: 50px;
  margin-bottom: 50px; }

.house_row3, .house_row5, .house_row7 {
  margin-bottom: 80px; }
  .house_row3 .col-md-3 img, .house_row5 .col-md-3 img, .house_row7 .col-md-3 img {
    float: right;
    margin-right: 0;
    height: 200px;
    width: 200px; }

.house_name {
  text-align: center;
  font-size: 30px; }

.gallery_row1 {
  margin-top: 50px; }

#map_container {
  position: relative;
  margin-top: -60px;
  width: 100%;
  height: 100%; }

#map_canvas {
  position: relative;
  top: 11%;
  width: 84%;
  height: 78%;
  margin: 0 auto; }

.contactus_row1 {
  margin-top: 50px;
  clear: both;
  color: red; }

.red {
  height: 50px;
  width: 100%;
  background-color: red; }

.area {
  margin-top: 50px;
  height: 50px;
  width: 100%;
  background-color: red; }

.letter_head {
  margin-top: 150px; }

.letter_body {
  margin-top: 15px; }

input, textarea {
  margin-top: 150px;
  border: 3px solid grey;
  width: 100%; }
  input:focus, textarea:focus {
    outline: none; }

input {
  margin-top: 15px;
  height: 30px; }

textarea {
  rows: 18; }

.foot {
  height: 50px;
  background-color: grey; }

#pxlogo img {
  width: 50%;
  height: 50%; }

.title {
  color: white;
  text-align: center;
  font-size: 65px; }
