header

	.navbar.navbar-fixed-top(role="navigation")

		.container

			a.navbar-brand.navbar-brand-logo(href="index.html")

				.logo
					img(src="../img/logo.png")

				.brand Derekegyházi halastó

			button.navbar-toggle(data-toggle="collapse" data-target=".navHeaderCollapse")

				span.icon-bar
				span.icon-bar
				span.icon-bar

			.collapse.navbar-collapse.navHeaderCollapse

				ul.nav.navbar-nav.navbar-right

					li
						a
							span(class="glyphicon glyphicon-heart-empty")
							p Isten hozott

					li
						a
							span(class="glyphicon glyphicon-heart-empty")
							p Horgászat

					li
						a
							span(class="glyphicon glyphicon-screenshot")
							p Vadászat

					li
						a
							span(class="glyphicon glyphicon-home")
							p Szállás

					li
						a
							span(class="glyphicon glyphicon-picture")
							p Galéria

					li
						a
							span(class="glyphicon glyphicon-map-marker")
							p Térkép

					li
						a
							span(class="glyphicon glyphicon-envelope")
							p Kapcsolat

					


