:verbatim
    ---
    layout: default
    ---



div(class="front fullscreen background parallax" style="background-image:url('../img/front.jpg');" data-img-width="1600" data-img-height="1064" data-diff="100" )

    .content-a

        .content-b

            .title Derekegyázi halastó
            p 6221 Dedrekegyház Paptelek 80. Tel.: 06-30-9-434-061

div(class="not-fullscreen background parallax line1" style="background-image:url('../img/line/line1.jpg');" data-img-width="1600" data-img-height="1064" data-diff="100")


.container

    .row.welcome_row1

        .col-md-2

        .col-md-8
            h1(id="welcome_headline") Isten hozta Derekegyházon!

        .col-md-2

    .row.welcome_row2

        .col-md-4

            .left_column.center-icons

                img(src="../img/welcome/icon_fish.png")

            span Halászat
        
        .col-md-4.center-icons
            
            .middle_column

                img(src="../img/welcome/icon_dear.png")

            span Vadászat

        .col-md-4
            
            .right_column.center-icons

                img(src="../img/welcome/icon_house.png")

            span Szállás

    .row.welcome_row3

        .col-md-1

        .col-md-10
            introdunction_welcome.
                A pihenni, kikapcsolódni vágyó vendégek a környék kulturális is idegenforgalmi látnivalóit, nevezetességeit is élvezhetik. Az alföldi táj szépségei között kiemelkedő a közelben megtalálható   mártélyi   üdülőkörzet, ahol a Tisza holtág fürdési, csónakázási és horgászási lehetőséget biztosít. A közelben található gyógyfürdők közül kiemelendő a   szentesi gyógyfürdő   illetve a méltán híres   Gyopárosfürdő, mely a vadászháztól mindössze 20 km-re található.
                A fentiek mellett az   Ópusztaszeri Nemzeti Történeti Emlékpark   /Feszty Körkép, panoptikum, skanzen/ feledhetetlen kikapcsolódási lehetőséget nyújt, mely autóval 30 perc alatt elérhető.
                A vadászházunk alkalmas egy vagy több napos találkozók, üzleti megbeszélések illetve továbbképzések lebonyolítására is.
                Természetesen vadászati lehetőséget is tudunk biztosítani, a Károlyi és Weiss Manfred által tradicionálisan kialakított és méltán híres területeken, őzre, nyúlra, fácánra valamint vadkacsára.

        .col-md-1

    .row.welcome_row4

        .col-md-3
            p Vass Sándor

        .col-md-3
            P               
            p 06-30-9-434-061
            p vass.sandor.1@gmail.com

        .col-md-3
            p Derekegyázi halastó
            
        .col-md-3
            P
            p 6221 Derekegyház, Paptelek 80.
            p 46.567709, 20.366053


div(class="fishing fullscreen background parallax" style="background-image:url('../img/fishing/fishing_bg.jpg');" data-img-width="1600" data-img-height="1064" data-diff="100" )

    .content-a

        .content-b

            .title Horgászat

.container

    .row.fishing_row1

        .col-md-1

        .col-md-10
           introdunction_fishing.
                A Zrt. Derekegyház község mellett kialakított egy 12 ha vízfelület- tórendszert,  mely ideális helyet biztosít a horgászat szerelmeseinek, hobbijuk magas színvonalú műveléséhez.  A tórendszer kialakítása során messzemenőleg figyelembe vettük a horgászok igényeit.  A terület külön pavilonjai családi pihenésre is alkalmasak. A tórendszerben ponty, amerikai harcsa,  csuka, amur, Lénai tok, keszeg fogható méret-, és idénykorlátozás nélkül, 3.000,- Ft/ft/nap belépődíj mellett.


        .col-md-1    
                  











