<footer>

 	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- Custom navbar to modify the navbar background -->
    <script src="js/navbar.js"></script>

    <!--Carousel customization-->
	<!--<script src="js/carousel.js"></script>-->

	<!-- Custom js which implements the parallax feature -->
    <script src="js/parallax.js"></script>
 

</footer>
