.contactus
	// background-image: url('../img/contactus/contactus_bg.jpg')
	// height: 100vh
	// background-size: cover

.contactus_row1
	margin-top: 50px
	clear: both
	color: red

.red
	height: 50px
	width: 100%
	background-color: red

.area
	margin-top: 50px
	height: 50px
	width: 100%
	background-color: red

.letter_head
	margin-top: 150px

.letter_body
	margin-top: 15px



input, textarea
	margin-top: 150px
	border: 3px solid grey
	width: 100%

	&:focus
		outline: none


input
	margin-top: 15px
	height: 30px

textarea
	rows: 18