.navbar
    transition: all 1s
    -webkit-transition: all 1s

.navbar-brand
    padding: 21px 15px 0 0


.brand
    color: white    


.logo
    float: left
    width: 60px
    padding-left: 10px


.navbar-nav 
    > li
        > a
            font-size: 14px
            color: white
            // margin: 16px 3px
            text-align: center
            // min-width: 100px
        

.navbar-toggle 
    .icon-bar
        background-color: white
        
.collapse
    li
        a:hover
            background-color: rgba(255, 255, 255, 0.2)
            border-radius: 5px
            color: black

// .navbar:not(.navbar-transparent).navbar-ct-blue
//  background-color: #34ACDC
//  background-color: rgba(52, 172, 220, 0.98)


// .navbar:not(.navbar-transparent).navbar-ct-azzure
//  background-color: #5BCAFF
//  background-color: rgba(91, 203, 255, 0.98)

.grey_bg
    background-color: rgba(54, 54, 54, 0.6)
 

#top-menu
    a  
        -webkit-transition: .7s all ease-out
        -moz-transition: .7s all ease-out
        transition: .7s all ease-out

    li

        a

            span

                img
                    height: 18px
                    color: #b52808


#top-menu

    li
        margin-top: 3px

        &:hover
            fill: black     

        &:hover .icon_fish
            fill: black     

    li.active
        a
            border-bottom: 3px solid #333
            color: #333 
            
        a .icon_fish
            fill: black
         
.flag
    width: 21px
    height: 21px


@media(max-width: 1000px)

    .navbar-brand
        margin-top: -10px 

    
